<div>
    <div class="panel panel-default form-group" ">
        <div class="panel-body">
            <label class="col-sm-2 control-label">Movie filter:</label>
            <div class="col-sm-10">
                <input type="text"  class="form-control" placeholder="Search" ng-model="movieSearch.Title">
            </div>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Favorite Movies</th>
                <th ng-show="canEdit"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="movie in movies | filter: movieSearch">
                <td>
                    <h4> {{movie.Title}}</h4>
                    <label>Description:</label>{{movie.Director}}
                </td>
                <td>
                    <a href="/movies/edit/{{movie.Id}}" class="btn btn-default btn-xs">edit</a>
                    <a href="/movies/delete/{{movie.Id}}" class="btn btn-danger btn-xs">delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <p ng-show="canEdit">
        <a href="/movies/add" class="btn btn-primary">Add New Movie</a>
    </p>


</div>
